.mateWare-123 {
    background: rgb(153,251,102);
    background: linear-gradient(0deg, rgba(154, 251, 102, 0.767) 0%, rgba(173,255,130,0.4150035014005602) 100%);
}
.mateWare-container {
    min-height: 100vh;

}
.mateWare-456 {
    background: rgb(70, 70, 70);
}
.mateWare-ourteamCard {
    border-radius:50%; 
    width: 250px;
}
.mateware-list {
    list-style: none;
}
.mateWare-service {
    background: rgb(70, 70, 70);
}
